#app .fixed {
	width: 1583px;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 20px;
	background: white;
	z-index: 10;
}

#app .logo {
	float: left;
	margin: 0 65px 20px 295px;
}

#app .yidong {
	float: left;
	height: 50px;
	font-size: 15px;
	line-height: 29px;
	margin-right: 50px;
}

#app .yidong:hover {
	color: #ea7515;
	background: url(../img/appimg/app-bg.png) repeat-X 0 29px;
}

#app .yidong2 {
	color: #ea7515;
	background: url(../img/appimg/app-bg.png) repeat-X 0 29px;
}
#app .fixed ul{
	display:none;
}
#app .fixed ul li:nth-of-type(1) {
	margin-left: 170px;
}

#app .fixed ul {
	position: absolute;
	left: 736px;
	top: 20px;
}

#app .fixed ul li {
	float: left;
	margin-right: 20px;
}

#app .fixed ul li a {
	display: block;
	width: 100px;
	height: 32px;

}
#app .fixed ul li:nth-of-type(1) a{
	background: url(../img/appimg/sprites.png) -440px -280px;
}
#app .fixed ul li:nth-of-type(1) a:hover{
	background: url(../img/appimg/sprites.png) -440px -320px;
}
#app .fixed ul li:nth-of-type(2) a{
	background: url(../img/appimg/sprites.png) -540px -280px;
}
#app .fixed ul li:nth-of-type(2) a:hover{
	background: url(../img/appimg/sprites.png) -540px -320px;
}
#app .fixed ul li:nth-of-type(3) a{
	background: url(../img/appimg/sprites.png) -640px -280px;
}
#app .fixed ul li:nth-of-type(3) a:hover{
	background: url(../img/appimg/sprites.png) -640px -320px;
}
#app .content .bg {
	position: relative;
	width: 1583px;
	height: 770px;
	background-size: 100% 100%;
	transition: 200ms;
}

#app .content>img {
	display: block;
}

#app .content .mao {
	position: fixed;
	right: 15px;
	top: 0;
	z-index: 3;
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid white;
}

#app .content .bg .next {
	position: absolute;
	bottom: 15px;
	left: 765px;
	background: url(../img/appimg/click.gif);
	z-index: 3;
	display: block;
	width: 50px;
	height: 38px;
	border: 0;
	border-radius: 0;
}

#app .content i a {
	float: left;
	width: 10px;
	height: 10px;
}

#app .content .white {
	background: white;
}

#app .content .bg {
	position: relative;
}

#app .content .bg img {
	position: absolute;
	top: 0;
}
#app .content .bg7 img{
	height:670px;
}
#app .content .bg1>img,
#app .content .bg3>img,
#app .content .bg5>img,
#app .content .bg7>img {
	position: absolute;
	left: 260px;
}

#app .content .bg4>img,
#app .content .bg6>img {
	position: absolute;
	/*top:50px;*/
	right: 100px;
}

#app .content .bg2>img {
	right: 50px;
}

#app .content .bg1 .box {
	width: 346px;
	height: 320px;
	position: absolute;
	left: 900px;
	top: 290px;
	z-index:2;
	background: url(../img/appimg/app-show.png) no-repeat right bottom;
}

#app .content .bg1 .box .sbox1 {
	width: 100%;
	height: 115px;
	margin-bottom: 45px;
	background: url(../img/appimg/sprites.png) left -350px;
}

#app .content .bg1 .box img {
	position: absolute;
	right: 0;
	top: 165px;
}

#app .content .bg1 .box ul li {
	margin-bottom: 20px;
	width: 100%;
	height: 40px;
}

#app .content .bg1 .box ul li a {
	display: block;
	float: left;
	width: 140px;
	height: 40px;
}

#app .content .bg1 .box ul li:nth-of-type(1) a {
	background: url(../img/appimg/sprites.png) -300px -100px;
}

#app .content .bg1 .box ul li:nth-of-type(1) a:hover {
	background: url(../img/appimg/sprites.png) -300px -50px;
}

#app .content .bg1 .box ul li:nth-of-type(2) a {
	background: url(../img/appimg/sprites.png) -440px -100px;
}

#app .content .bg1 .box ul li:nth-of-type(2):hover a {
	background: url(../img/appimg/sprites.png) -440px -50px;
}

#app .content .bg1 .box ul li:nth-of-type(3) a {
	background: url(../img/appimg/sprites.png) -580px -100px;
}

#app .content .bg1 .box ul li:nth-of-type(3):hover a {
	background: url(../img/appimg/sprites.png) -580px -50px;
}

#app .content .bg2 .box {
	width: 540px;
	height: 110px;
	position: absolute;
	left: 300px;
	top: 190px;
	background: url(../img/appimg/sprites.png) no-repeat left -470px;
}

#app .content .bg3 .box {
	width: 540px;
	height: 110px;
	position: absolute;
	left: 675px;
	top: 190px;
	background: url(../img/appimg/sprites.png) no-repeat left -575px;
}

#app .content .bg4 .box {
	width: 540px;
	height: 110px;
	position: absolute;
	left: 300px;
	top: 220px;
	background: url(../img/appimg/sprites.png) no-repeat left -685px;
}

#app .content .bg5 .box {
	width: 540px;
	height: 110px;
	position: absolute;
	left: 740px;
	top: 260px;
	background: url(../img/appimg/sprites.png) no-repeat left -800px;
}

#app .content .bg6 .box {
	width: 540px;
	height: 110px;
	position: absolute;
	left: 300px;
	top: 220px;
	background: url(../img/appimg/sprites.png) no-repeat left -910px;
}

#app .content .bg7 .box {
	width: 700px;
	height: 110px;
	position: absolute;
	left: 740px;
	top: 200px;
	background: url(../img/appimg/sprites.png) no-repeat left -1020px;
}
#app .content2{
	width: 1583px;
	height:70px;
	display:none;
	position: absolute;
	top:70px;
}
#app .content2 .bg {
	position: relative;
	width: 1583px;
	height: 700px;
	background-size: 100% 100%;

}
#app .content2 .bg .box{
	width: 435px;
	height: 130px;
	position: absolute;
	left: 840px;
	top: 200px;
	background: url(../img/appimg/sprites.png) no-repeat left -220px;
}
#app .content2 .bg .box2{
	width: 200px;
	height: 200px;
	position: absolute;
	left: 840px;
	top: 370px;
}
#app .content2 .bg>img{
	position: absolute;
	left: 360px;
	top: 30px;
}
