#content .homepage div {
	position: relative;
}

#content .homepage .bbg {
	width: 1580px;
}
/*#content .homepage .first-bg img{
	width: 1580px;
}*/
#content .homepage .songli {
	width: 175px;
	height: 65px;
	display: block;
	bottom: 90px;
	right: 600px;
	position: absolute;
	z-index: 10;
}

#content .homepage .huiyuan {
	width: 175px;
	height: 65px;
	display: block;
	z-index: 10;
	position: absolute;
	bottom: 100px;
	right: 405px;
}

#content .homepage .left-app img {
	position: fixed;
	top: 288px;
	left: 60px;
	z-index: 100;
	display: none;
}

#content .homepage .right-view {
	width: 120px;
	height: 670px;
	background: url(../img/righta.png) no-repeat left top;
	position: fixed;
	top: 40px;
	right: 55px;
	z-index: 100;
	display: none;
	padding-top: 77px;
	padding-left: 10px;
	
}

#content .homepage .right-view a {
	display: block;
	float: left;
	width: 100px;
	height: 32px;
}


/*一口价区*/
/*一口价区*/
/*一口价区*/

#content .homepage .pirce {
	width: 1480px;
	/*height: 1500px;*/
	margin: 0 auto;
	background: #332c1a;
	padding: 30px 0 30px;
	position: relative;
}

#content .homepage .pirce a {
	display: block;
	margin-bottom: 20px;
	position: relative;
	left: 230px;
}
#content .homepage .bbgt{
	display:block;
	margin:0 auto;
	margin-bottom: 20px;
}

/*今夏必买*/
/*今夏必买*/
/*今夏必买*/
#content .homepage .tilte {
	width: 1480px;
	padding-top: 30px;
	margin: 0 auto;
}

#content .homepage .tilte .bbgt {
	/*width: 1200px;*/
	display: block;
	margin: 0 auto 20px;
}

#content .homepage .tilte .content .bgt{
	display: block;
	margin: 0 auto 10px;
}

#content .homepage .tilte .content {
	padding: 15px 129px 0px;
	margin: 0 auto;
	background: #152525;
	position: relative;
}

#content .homepage .tilte .content2 {
	background: #332c1a;
}

#content .homepage .movePic{
	transition:500ms;
	position: relative;
	top:0;
}
#content .homepage .movePic:hover{
	top: -10px;
}

#content .homepage .tilte .content .movePic {
	float:left;
	margin:0 10px 20px;
}

#content .homepage .tilte .content .last {
	padding-right: 0;
}

#content .homepage .men{
	background:#152525;
}
