#loading .fixed {
	width: 1583px;
	padding-top: 15px;
	padding-bottom: 10px;
	background: white;
}

#loading .logo {
	float: left;
	margin: 0 65px 0 193px;
}

#loading .content {
	position: relative;
	height: 700px;
	background: #f7f2ec;
	border-top: 1px solid gainsboro;
}

#loading .content img {
	position: absolute;
	top: 90px;
	left: 208px;
}

#loading .content .inpu {
	position: absolute;
	top: 70px;
	right: 225px;
	width: 420px;
	height: 560px;
	box-shadow: #666 1px 1px 11px;
}

#loading .content .inpu {
	background: url(../img/loading-saoma.png) no-repeat bottom right, white;
}

#loading .content .inpu .sel {
	text-align: center;
	float: left;
	width: 210px;
	height: 50px;
	line-height: 50px;
	background: #f7f7f9;
	font-size: 17px;
	color: #afafaf;
}

#loading .content .inpu .change {
	color: #464646;
	font-weight:bold;
	background: url(../img/appimg/loading-bg.png) repeat-X bottom left, #f7f7f9;
}

#loading .content .inpu .color {
	color: #464646;
	font-weight:bold;
	background: url(../img/appimg/loading-bg.png) repeat-X bottom left, #f7f7f9;
}

#loading .content .inpu form {
	margin: 0 50px;
	padding-top: 75px;
}

#loading .content .inpu form p {
	float: left;
	width: 113px;
	margin-bottom: 25px;
}

#loading .content .inpu form a {
	height: 17px;
	width: 50px;
	font-size: 9px;
	line-height: 17px;
	float: right;
}

#loading .content .inpu form a:nth-of-type(2) {
	border-left: 1px solid gray;
}

#loading .content .inpu form a:hover {
	text-decoration: underline;
}

#loading .content .inpu #form1 {
	position: relative;
}

#loading .content .inpu #form1 input {
	width: 318px;
	height: 32px;
	margin-bottom: 25px;
}

#loading .content .inpu #form1 .go {
	display: block;
	position: absolute;
	bottom: 25px;
	left: 0;
	width:100%;
	height:32px;
	opacity:0;
}

#loading .content .inpu #form1 input:nth-of-type(2) {
	width: 185px;
	margin-right: 20px;
}

#loading .content .inpu #form1 input:nth-of-type(3) {
	width: 107px;
	height: 36px;
	float: right;
}
#loading .content .inpu #form1>i{
	display: block;
	height: 14px;
	line-height: 14px;
	
	color: red;
	margin-bottom:10px;
}
#loading .content .inpu #form1 p i {
	display: block;
	float: left;
	width: 14px;
	height: 14px;
	border: 1px solid #d2041f;
	color: red;
	font-size: 15px;
	line-height: 14px;
}

#loading .content .inpu #form1 input:nth-of-type(4) {
	background: #d2041f;
	border: 0;
	border-radius: 15px;
	outline: none;
	color: white;
	line-height: 32px;
	font-size: 16px;
}

#loading .content .inpu h5 {
	text-align: center;
	font-weight:normal;
}

#loading .content .inpu h4 {
	width: 320px;
	text-align: center;
	margin: 0 auto;
}

#loading .content .inpu .lianjie {
	width: 30px;
	height: 30px;
	margin: 0 17px;
	display: block;
	float: left;
}

#loading .content .inpu b,
#loading .content .inpu2 b {
	display: block;
	width: 140px;
	height: 60px;
	position: absolute;
	right: 0;
	bottom: 0;
}

#loading .content .inpu2 {
	position: absolute;
	top: 70px;
	right: 225px;
	width: 390px;
	height: 410px;
	padding-top: 40px;
	padding-left: 30px;
	box-shadow: #666 1px 1px 11px;
	display: none;
}

#loading .content .inpu2 {
	background: url(../img/loading-mima.png) no-repeat bottom right, white;
}

#loading .content .inpu2 p {
	font-size: 15px;
}

#loading .content .inpu2 img {
	position: absolute;
	top: 120px;
	left: 120px;
}

#loading .content .inpu2 span {
	position: absolute;
	bottom: 107px;
	left: 127px;
	font-size: 15px;
}

#loading .content .inpu2 span i {
	color: red;
}

 .footer {
	height: 90px;
}

 .footer ul {
	width: 590px;
	margin: 25px auto 15px;
}

 .footer ul li {
	float: left;
	padding: 0 10px;
	border-left: 1px solid black;
}

 .footer ul li:nth-of-type(1) {
	border-left: 0;
}

 .footer ul li a:hover {
	text-decoration: underline;
}

 .footer {
	text-align: center;
}

 .footer span {
	display: inline-block;
	margin-top: 15px;
	color: gray;
}