/* 公共样式*/

body,
div,
h2,
h3,
h4,
p,
i,
span,
a,
ul,
li,
img {
	margin: 0;
	padding: 0;
	font-size: 13px;
}

i {
	font-style: normal;
}

ul {
	list-style: none;
}

a {
	color: white;
	text-decoration: none;
}

.left-f {
	float: left;
}

.right-f {
	float: right;
}

.clearfix:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}


/* 头部header*/

#header {
	width: 100%;
	height: 95px;
	background: #333333;
}


/* 头部左边部分*/

#header .top-logo {
	background: #333333;
	height: 50px;
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

#header .top-logo .left-view ul {
	position: absolute;
	top: 2px;
	left: 0;
	height: 30px;
}

#header .top-logo .left-view ul li {
	position: relative;
	float: left;
	margin-right: 3px;
}

#header .top-logo .left-view ul .shop a {
	background: url(../img/header-top-shop1.png) no-repeat 3px 9px;
	text-indent: 15px;
}

#header .top-logo .left-view ul .shop:hover a {
	background: url(../img/header-top-shop2.png) no-repeat 3px 8px, white;
	color: red;
}

#header .top-logo .left-view ul li:nth-of-type(2) p {
	width: 297px;
	height: 68px;
	line-height: 68px;
	background: white;
	font-size: 12px;
	position: absolute;
	top: 30px;
	left: 0;
	text-indent: 16px;
	z-index: 100;
	display: none;
}

#header .top-logo .left-view ul li:nth-of-type(2):hover p {
	background: white;
	display: block;
	z-index: 100;
}

#header .top-logo .left-view ul li i {
	color: #f76f29;
	font-size: 12px;
	padding: 0 2px;
}

#header .top-logo .left-view ul li:nth-of-type(3) a.show {
	background: url(../img/header-top-show1.png) no-repeat 63px 17px;
	padding-right: 15px;
}

#header .top-logo .left-view ul li:nth-of-type(3):hover a.show {
	background: url(../img/header-top-show2.png) no-repeat right 16px, white;
	color: red;
}

#header .top-logo .left-view ul li:nth-of-type(3) ul {
	position: absolute;
	top: 28px;
	left: 0;
	width: 73px;
	height: 140px;
	background: white;
	display: none;
}

#header .top-logo .left-view ul li:nth-of-type(3):hover ul {
	display: block;
}

#header .top-logo .left-view ul li:nth-of-type(3) ul li a {
	line-height: 28px;
	height: 28px;
	color: black;
}

#header .top-logo .left-view ul li:nth-of-type(3) ul li:hover a {
	color: red;
}

#header .top-logo .left-view ul li a {
	color: #d7d7d7;
	display: block;
	font-size: 11px;
	height: 30px;
	line-height: 35px;
	padding: 0 10px;
	clear: both;
}


/*头部logo*/

#header .top-logo .logo {
	display: block;
	width: 214px;
	height: 34px;
	margin: 10px auto 0;
}


/* 头部右边部分*/

#header .right-view {
	position: absolute;
	top: 10px;
	right: 5px;
}

#header .right-view input {
	width: 261px;
	height: 25px;
	background: #333333;
	color: #787878;
	text-indent: 6px;
	font-size: 12px;
	font-weight: bold;
	border: 1px solid #787878;
}

#header .right-view a {
	position: absolute;
	top: 7px;
	right: 7px;
}

/*头部下方专题导航部分*/

#header .bottom-nav {
	margin: 0 auto;
	width: 1200px;
}

#header .bottom-nav ul {
	width: 618px;
	margin: 0 auto;
}

#header .bottom-nav ul li {
	float: left;
	height: 44px;
	margin-right: 15px;
	line-height: 44px;
	opacity: 1;
	filter: alpha(opacity=100);
}

#header .bottom-nav ul li:hover {
	opacity: 0.9;
	filter: alpha(opacity=90);
}

#header .bottom-nav ul li:nth-last-of-type(1) {
	margin-right: 0;
}

#header .bottom-nav ul li a {
	font-size: 15px;
	color: #eeeeee;
	padding: 15px 15px;
}

#header .bottom-nav ul li:nth-last-of-type(3) a {
	color: red;
}

#header .bottom-nav ul li:hover a {
	background: url(../img/header-bottom-hover-bg.png) repeat-X left 45px;
}


/*导航nav*/

#nav {
	background: #f7f7f7;
	height: 42px;
}

#nav>ul {
	width: 618px;
	margin: 0 auto;
	height: 42px;
}

#nav>ul li {
	float: left;
	height: 42px;
	margin-right: 12px;
	line-height: 42px;
	position: relative;
}

#nav>ul li:nth-last-of-type(1) {
	margin-right: 0;
}

#nav>ul li a {
	font-size: 14px;
	color: black;
	padding: 13px 15px;
}

#nav>ul li:hover {
	background: white;
}


/*隐藏分类详情*/
/*隐藏分类详情*/
/*隐藏分类详情*/
#nav ul li .pack,
#nav ul li .clo,
#nav ul li .sho
{
	padding: 15px;
	position: absolute;
	background: white;
	top: 42px;
	left: 0;
	/*display:none;*/
}
#nav ul li .pack div ul li,
#nav ul li .clo div ul li,
#nav ul li .sho div ul li {
	height: 12px;
	line-height: 12px;
	margin: 2px 0 3px 0;
	padding-right: 12px;
	background: url(../img/nav-list-bg.png) repeat-Y top right;
}
/*包袋分类*/
/*包袋分类*/
/*包袋分类*/
#nav ul li:nth-of-type(1):hover .pack{
	display: block;
}
#nav ul li .pack {
	width: 750px;
	height: 370px;
	display:none;
	
}

#nav ul li .pack .pack1 {
	width: 450px;
	height: 300px;
	/*background: yellow;*/
	margin-right: 35px;
}

#nav ul li div h4 {
	height: 20px;
	line-height: 20px;
}

#nav ul li .pack .pack1 div {
	border-bottom: 1px dashed gray;
	margin-bottom: 12px;
}

#nav ul li .pack div ul {
	width: 360px;
	margin: 0;
	height: 40px;
}

#nav ul li .pack div ul li {
	height: 12px;
	line-height: 12px;
	margin: 2px 0 3px 0;
	padding-right: 12px;
	background: url(../img/nav-list-bg.png) repeat-Y top right;
}

#nav ul li div div a {
	color: black;
	font-size: 11px;
	height: 12px;
	padding: 0 0 0 3px;
	/*margin-right:6px;*/
	line-height: 12px;
}
#nav ul li .pack .pack1 div:nth-of-type(1) ul li:nth-of-type(6) {
	background: white;
}

#nav ul li .pack .pack1 div:nth-of-type(1) ul li:nth-of-type(6) a {
	color: red;
}

#nav ul li .pack .pack1 div:nth-of-type(1) ul li:nth-of-type(12) {
	background: white;
}

#nav ul li .pack .pack1 div:nth-of-type(1) ul li:nth-of-type(1) a {
	padding-left: 0px;
	color: red;
}

#nav ul li .pack .pack1 div:nth-of-type(1) ul li:nth-of-type(7) a {
	padding-left: 0px
}

#nav ul li .pack div:nth-of-type(2) ul {
	width: 310px;
}

#nav ul li .pack .pack1 div:nth-of-type(2) ul li:nth-of-type(1) a {
	padding-left: 0px;
}

#nav ul li .pack .pack1 div:nth-of-type(2) ul li:nth-of-type(3) a {
	color: red;
}

#nav ul li .pack .pack1 div:nth-of-type(2) ul li:nth-of-type(6) a {
	padding-left: 0px;
	color: red;
}

#nav ul li .pack .pack1 div:nth-of-type(2) ul li:nth-of-type(7) a {
	color: red;
}
#nav ul li .pack .pack1 div:nth-of-type(2) ul li:nth-of-type(5) {
	background: white;
}
#nav ul li .pack .pack1 div:nth-of-type(2) ul li:nth-of-type(10) {
	background: white;
}
#nav ul li .pack div:nth-of-type(3) ul {
	height: 23px;
}
#nav ul li .pack .pack1 div:nth-of-type(3) ul li:nth-of-type(1) a {
	padding-left: 0px;
}
#nav ul li .pack .pack1 div:nth-of-type(3) ul li:nth-of-type(5) {
	background: white;
}
#nav ul li .pack div:nth-of-type(4) ul {
	height: 23px;
}
#nav ul li .pack .pack1 div:nth-of-type(4) ul li:nth-of-type(1) a {
	padding-left: 0px;
	color: red;
}
#nav ul li .pack .pack1 div:nth-of-type(4) ul li:nth-of-type(4) {
	background: white;
}

/*按品牌分类*/
#nav ul li .pack .pack2 {
	width: 230px;
	height: 350px;
	/*background: blue;*/
}
#nav ul li .pack .pack2 div {
	width:220px;
}
#nav ul li .pack .pack2 div ul li{
	width:110px;
	background: white;
	margin: 5px 0 6px 0;
}
#nav ul li .pack div div ul li .red{
	color: red;
}
#nav ul li div  ul li a:hover{
	color: red;
}
#nav ul li div b:hover{
	color: #feb300;
}
/*服装分类*/
/*服装分类*/
/*服装分类*/
#nav ul li .clo{
	width:750px;
	height:555px;
	display:none;
}
#nav ul li .clo .clo1{
	width:750px;
	height:275px;
	border-bottom: 1px dashed gray;
}
#nav ul li .clo h4:nth-of-type(1){
	width:450px;
}
#nav ul li:nth-of-type(2):hover .clo{
	display: block;
}

#nav ul li .clo div ul{
	width:440px;
	height: 24px;
	float:left;
}
#nav ul li .clo div ul:nth-of-type(1){
	height: 60px;
}
#nav ul li .clo div div{
	width:235px;
	position:absolute;
	top:15px;
	right:15px;
	height: 275px;
}
#nav ul li .clo .clo2{
	padding:15px;
	position:relative;
} 
#nav ul li .clo .clo2 div{
	right:0;
	
}
#nav ul li .clo div div ul{
	width:245px;
	height: 24px;
}
#nav ul li .clo div div ul li{
	width:110px;
	background: white;
	margin: 5px 0 5px 0;
}
#nav ul li  div ul li .red{
	color: red;
}
#nav ul li .clo ul .white {
	background: white;
}
#nav ul li .clo div .three{
	height: 60px;
}
#nav ul li .clo div .two{
	height: 40px;
}
/*鞋靴分类*/
/*鞋靴分类*/
/*鞋靴分类*/
#nav ul li .sho{
	width:750px;
	height:440px;
	display:none;
}
#nav ul li .sho .sho1 div{
	width:450px;
	height:134px;
}
#nav ul li .sho .sho2 ul li{
	width:98px;
	background: white;
	margin: 5px 0 6px 0;
}
#nav ul li .sho .sho1 div:nth-of-type(1){
	border-bottom: 1px dashed gray;
	margin-bottom: 15px;;
}
#nav ul li .sho .sho2{
	width:230px;
	float:right;
}
#nav ul li .sho .sho2 ul{
	width:230px;
}
#nav ul li .sho ul .white {
	background: white;
}
#nav ul li:nth-of-type(3):hover .sho{
	display: block;
}



















/*内容content*/

#content {
	background:black;
	min-height: 800px;
}


/*底部footer*/


/*关注我们*/

#footer .top-half {
	background: #f2f2f2;
	height: 190px;
	width: 100%;
	border-top: 3px solid #9a9a9a;
	position: relative;
}


/*在线客服部分*/

#footer .top-half .online-service {
	position: absolute;
	left: 190px;
	top: 31px;
}

#footer .top-half .online-service ul li {
	height: 38px;
}

#footer .top-half .online-service ul li a {
	font-size: 18px;
	color: #333333;
	padding-right: 6px;
	padding-bottom: 20px;
}

#footer .top-half .online-service ul li:nth-of-type(2) {
	position: relative;
	height: 50px;
	line-height: 18px;
	font-size: 17px;
}

#footer .top-half .online-service ul li:nth-of-type(1) a img {
	position: relative;
	top: 3px;
}

#footer .top-half .online-service ul li:nth-of-type(2) a img {
	position: relative;
	top: 13px;
}

#footer .top-half .online-service ul li:nth-of-type(3) {
	padding-top: 20px;
}

#footer .top-half .online-service ul li:nth-of-type(3) a img {
	position: relative;
	top: 3px;
}


/*关于我们、售后部分*/

#footer .top-half .about-us {
	position: absolute;
	top: 27px;
	left: 474px;
}

#footer .top-half .about-us a {
	font-size: 13px;
	height: 25px;
	line-height: 25px;
	color: #4c4c4c;
}


/*关注我们部分*/

#footer .top-half .concern-us {
	position: absolute;
	top: 36px;
	left: 735px;
	width: 257px;
}

#footer .top-half .concern-us h3 {
	text-align: center;
	line-height: 24px;
	height: 24px;
	font-size: 16px;
	margin-bottom: 22px;
	color: #111111;
	background: url(../img/about-us.png) no-repeat 0 11px, url(../img/about-us.png) no-repeat right 11px;
}

#footer .top-half .concern-us ul {
	margin-bottom: 22px;
}

#footer .top-half .concern-us ul li {
	float: left;
	padding-right: 45px;
}

#footer .top-half .concern-us ul li:nth-of-type(1) {
	padding-left: 10px;
}

#footer .top-half .concern-us ul li:nth-of-type(4) {
	padding: 0;
}

#footer .top-half .concern-us input {
	width: 227px;
	height: 26px;
	text-indent: 10px;
	background: #faf6f5;
	border: 1px solid #333333;
}

#footer .top-half .concern-us a {
	float: right;
	width: 28px;
	height: 28px;
}


/*我们的APP*/

#footer .top-half .our-app {
	position: absolute;
	right: 196px;
	top: 38px;
	width: 90px;
	height: 120px;
}

#footer .top-half .our-app p {
	font-size: 16px;
	height: 28px;
}

#footer .top-half .our-app img {
	width: 86px;
	height: 86px;
}


/*后续宣传*/

#footer .bottom-half {
	background: white;
	height: 208px;
	width: 100%;
	text-align: center;
}

#footer .bottom-half ul {
	width: 729px;
	margin-top: 25px;
	margin: 25px auto 20px;
}

#footer .bottom-half ul li {
	float: left;
}

#footer .bottom-half ul li a {
	font-size: 12px;
	color: black;
	/*height:17px;
	line-height: 17px;;*/
	padding: 0 12px;
	background: url(../img/footer-bottom-bg.png) repeat-Y right top;
}

#footer .bottom-half ul li:nth-last-of-type(1) a {
	background: white;
}

#footer .bottom-half .footer-a {
	color: black;
	font-size: 21px;
	display: inline-block;
	line-height: 45px;
	height: 45px;
	text-indent: 60px;
	margin-left: 48px;
	margin-bottom: 20px;
}

#footer .bottom-half .footer-aa {
	background: url(../img/footer-plan.png) no-repeat;
	margin-left: 0;
}

#footer .bottom-half .footer-ab {
	background: url(../img/footer-dun.png) no-repeat;
}

#footer .bottom-half .footer-ac {
	background: url(../img/footer-hand.png) no-repeat;
}

#footer .bottom-half p {
	color: #999999;
	font-size: 11px;
	margin-bottom: 15px;
}

#footer .bottom-half p a {
	color: #999999;
	font-size: 11px;
}